@font-face {
  font-family: 'iconfont';  /* Project id 3507921 */
  src: url('//at.alicdn.com/t/c/font_3507921_9wbx98u4b0p.woff2?t=1660894265256') format('woff2'),
       url('//at.alicdn.com/t/c/font_3507921_9wbx98u4b0p.woff?t=1660894265256') format('woff'),
       url('//at.alicdn.com/t/c/font_3507921_9wbx98u4b0p.ttf?t=1660894265256') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e600";
}

.icon-bell:before {
  content: "\e601";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e602";
}

.icon-my:before {
  content: "\e78b";
}

.icon-home:before {
  content: "\e617";
}

.icon-cart:before {
  content: "\e604";
}

.icon-order:before {
  content: "\e62a";
}

